@charset "utf-8";
<style type="text/css">
/* menu styles */
#jsddm
{	margin: 0;
	padding: 0}

	#jsddm li
	{	float: left;
		list-style: none;
		font: 20px verdana}

	#jsddm li a
	{	display: block;
		background: #500000;
		padding: 10px 10px;
		text-decoration: none;
		border-right: 2px solid white;
		width: 70px;
		color: white;
		font: 12px verdana;
		white-space: nowrap}

	#jsddm li a:hover
	{	background-image: url(../mainfotos/mouseover4.png);
	color: black;}

		#jsddm li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid black}

			#jsddm li ul li
			{	float: none;
				display: inline}

			#jsddm li ul li a
			{	width: auto;
				background-image: url(../mainfotos/mouseover.png);
				border-bottom: 0px solid white;
				border-right: 0px solid white;
				color: white}

			#jsddm li ul li a:hover
			{	background-image: url(../mainfotos/mouseover5.png);
			border-right: 0px solid #717D7D;
			color: transparant;
			font: 12px verdana}
</style>
/* CSS Document */

